/* تعريف id مع width و height */
#myBox {
    width: 200px;
    height: 150px;
    margin: 15px auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    font-weight: bold;
}

/* تعريف class مع border و color */
.bordered-element {
    border: 3px solid #e74c3c;
    color: #333;
}

.button-group {
    margin: 20px;
    text-align: center;
    display: flex ;
    justify-content: center ;
    flex-wrap: wrap;
    gap: 10px;




}